# Learn to read files with pandas Library
## "os" library to change the working directory

In [0]:
import os

# "pandas" library to work with dataframes

In [0]:
import pandas as pd

# To import my data from google drive

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Imprting data

In [0]:
path = "/content/drive/My Drive/Colab Notebooks/Iris_data_sample.csv"
data_csv = pd.read_csv(path)

### Blank Cell is Read as 'Nan'

### Removing the extra id column by passing index_col=0

In [0]:
data_csv = pd.read_csv(path,index_col=0)

In [0]:
data_csv

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
1             5.1           3.5           1.4           0.2     Iris-setosa
2             4.9           NaN           1.4           0.2             NaN
3             4.7           3.2           1.3           0.2     Iris-setosa
4              ??           3.1           1.5           0.2     Iris-setosa
5               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
146           6.7           3.0           5.2           2.3  Iris-virginica
147           6.3           2.5             5           1.9  Iris-virginica
148           6.5           3.0           5.2           2.0  Iris-virginica
149           6.2           3.4           5.4           2.3  Iris-virginica
150           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

### To replace all the mising values with 'Nan'

In [0]:
data_csv = pd.read_csv(path,index_col=0,na_values=["??","###"])

In [0]:
data_csv

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

# Excel Spreadsheet
## Imprting data

In [0]:
path1 = "/content/drive/My Drive/Colab Notebooks/Iris_data_sample.xlsx"
data_xlsx = pd.read_excel(path1,sheet_name="Iris_data")

In [0]:
data_xlsx

     Unnamed: 0 SepalLengthCm  ...  PetalWidthCm         Species
0             1           5.1  ...           0.2     Iris-setosa
1             2           4.9  ...           0.2             NaN
2             3           4.7  ...           0.2     Iris-setosa
3             4            ??  ...           0.2     Iris-setosa
4             5             5  ...           0.2     Iris-setosa
..          ...           ...  ...           ...             ...
145         146           6.7  ...           2.3  Iris-virginica
146         147           6.3  ...           1.9  Iris-virginica
147         148           6.5  ...           2.0  Iris-virginica
148         149           6.2  ...           2.3  Iris-virginica
149         150           5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

# Text format
## Importing data

In [0]:
path2 = "/content/drive/My Drive/Colab Notebooks/Iris_data_sample.txt"
data_txt1 = pd.read_table(path2)

In [0]:
data_txt1

     "SepalLengthCm" "SepalWidthCm" "PetalLengthCm" "PetalWidthCm" "Species"
0                    1 1 5.1 3.5 1.4 0.2 "Iris-setosa"
1                      2 2 4.9 3 1.4 0.2 "Iris-setosa"
2                    3 3 4.7 3.2 1.3 0.2 "Iris-setosa"
3                    4 4 4.6 3.1 1.5 0.2 "Iris-setosa"
4                      5 5 5 3.6 1.4 0.2 "Iris-setosa"
..                                                 ...
145             146 146 6.7 3 5.2 2.3 "Iris-virginica"
146             147 147 6.3 2.5 5 1.9 "Iris-virginica"
147               148 148 6.5 3 5.2 2 "Iris-virginica"
148           149 149 6.2 3.4 5.4 2.3 "Iris-virginica"
149             150 150 5.9 3 5.1 1.8 "Iris-virginica"

[150 rows x 1 columns]

In [0]:
data_txt1 = pd.read_table(path2,delimiter=" ")#delimter="\t",delimeter="," Didn't Worked here
#data_txt1 = pd.read_csv(path2,delimiter=" ")#We can read in both ways

In [0]:
data_txt1

     Unnamed: 0  SepalLengthCm  ...  PetalWidthCm         Species
1             1            5.1  ...           0.2     Iris-setosa
2             2            4.9  ...           0.2     Iris-setosa
3             3            4.7  ...           0.2     Iris-setosa
4             4            4.6  ...           0.2     Iris-setosa
5             5            5.0  ...           0.2     Iris-setosa
..          ...            ...  ...           ...             ...
146         146            6.7  ...           2.3  Iris-virginica
147         147            6.3  ...           1.9  Iris-virginica
148         148            6.5  ...           2.0  Iris-virginica
149         149            6.2  ...           2.3  Iris-virginica
150         150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]