<a href="https://colab.research.google.com/github/ManishShah120/Py4DSci/blob/master/ClassifyingPersonalIncome.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CLASSIFYING PERSONAL INCOME

## Import PANDAS To work with Dataframes

In [0]:
import pandas as pd

## Import NUMPY to perform Numerical Operation

In [0]:
import numpy as np

## Import SEABORN to visualize data

In [0]:
import seaborn as sns

## Import train_test_split from sklearn.modelselection to partition data

In [0]:
from sklearn.model_selection import train_test_split

## Importing LogisticRegression from sklearn.linear_model for logistic regression

In [0]:
from sklearn.linear_model import LogisticRegression

## To look for performences metrics Import accuracy and confusion matrix from sklearn.metrics

In [0]:
from sklearn.metrics import accuracy_score,confusion_matrix

##----------IMPORTING DATA---------------

## To upload files as dataset from google drive ->from google.colab import drive

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
data_income = pd.read_csv('/content/drive/My Drive/Colab Notebooks/income.csv')

## Creating a copy of the original data

In [0]:
data = data_income.copy()

## To check the variables datatype

In [13]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31978 entries, 0 to 31977
Data columns (total 13 columns):
age              31978 non-null int64
JobType          31978 non-null object
EdType           31978 non-null object
maritalstatus    31978 non-null object
occupation       31978 non-null object
relationship     31978 non-null object
race             31978 non-null object
gender           31978 non-null object
capitalgain      31978 non-null int64
capitalloss      31978 non-null int64
hoursperweek     31978 non-null int64
nativecountry    31978 non-null object
SalStat          31978 non-null object
dtypes: int64(4), object(9)
memory usage: 3.2+ MB
None

###Since there exists categories under that variables of "SalStat etc etc" their datatype is seen as object

## To check wheteher there are missing values in the dataset using isnull function

In [15]:
data.isnull()

         age  JobType  EdType  ...  hoursperweek  nativecountry  SalStat
0      False    False   False  ...         False          False    False
1      False    False   False  ...         False          False    False
2      False    False   False  ...         False          False    False
3      False    False   False  ...         False          False    False
4      False    False   False  ...         False          False    False
...      ...      ...     ...  ...           ...            ...      ...
31973  False    False   False  ...         False          False    False
31974  False    False   False  ...         False          False    False
31975  False    False   False  ...         False          False    False
31976  False    False   False  ...         False          False    False
31977  False    False   False  ...         False          False    False

[31978 rows x 13 columns]

## It is difficult to scim through the whole output so lets take the sum of missing values in each column so that we will get an idea about how many values or how many cell are missing under each variable, this can be done by adding .sum to the existing command

In [17]:
print("Data columns with NULL values:\n", data.isnull().sum())

Data columns with NULL values:
 age              0
JobType          0
EdType           0
maritalstatus    0
occupation       0
relationship     0
race             0
gender           0
capitalgain      0
capitalloss      0
hoursperweek     0
nativecountry    0
SalStat          0
dtype: int64

|^ No Missing values

## Summary of numerical variables

In [0]:
summary_num = data.describe()

In [19]:
summary_num

                age   capitalgain   capitalloss  hoursperweek
count  31978.000000  31978.000000  31978.000000  31978.000000
mean      38.579023   1064.360623     86.739352     40.417850
std       13.662085   7298.596271    401.594301     12.345285
min       17.000000      0.000000      0.000000      1.000000
25%       28.000000      0.000000      0.000000     40.000000
50%       37.000000      0.000000      0.000000     40.000000
75%       48.000000      0.000000      0.000000     45.000000
max       90.000000  99999.000000   4356.000000     99.000000

## Summary of categorical variables

In [24]:
summary_cate = data.describe(include="O") # O represents object and we are storing this in the object summary_cate
summary_cate

         JobType    EdType  ...   nativecountry                        SalStat
count      31978     31978  ...           31978                          31978
unique         9        16  ...              41                              2
top      Private   HS-grad  ...   United-States   less than or equal to 50,000
freq       22286     10368  ...           29170                          24283

[4 rows x 9 columns]

## To get Unique categories under a variable so that it gives us an idea what are the categories there in a particular variable

### Frequencies of each categories

In [27]:
data['JobType'].value_counts()

 Private             22286
 Self-emp-not-inc     2499
 Local-gov            2067
 ?                    1809
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
 Never-worked            7
Name: JobType, dtype: int64

In [28]:
data['occupation'].value_counts()

 Prof-specialty       4038
 Craft-repair         4030
 Exec-managerial      3992
 Adm-clerical         3721
 Sales                3584
 Other-service        3212
 Machine-op-inspct    1966
 ?                    1816
 Transport-moving     1572
 Handlers-cleaners    1350
 Farming-fishing       989
 Tech-support          912
 Protective-serv       644
 Priv-house-serv       143
 Armed-Forces            9
Name: occupation, dtype: int64

## Checking for unique classes

In [31]:
print(np.unique(data['JobType']))

[' ?' ' Federal-gov' ' Local-gov' ' Never-worked' ' Private'
 ' Self-emp-inc' ' Self-emp-not-inc' ' State-gov' ' Without-pay']

In [32]:
print(np.unique(data['occupation']))

[' ?' ' Adm-clerical' ' Armed-Forces' ' Craft-repair' ' Exec-managerial'
 ' Farming-fishing' ' Handlers-cleaners' ' Machine-op-inspct'
 ' Other-service' ' Priv-house-serv' ' Prof-specialty' ' Protective-serv'
 ' Sales' ' Tech-support' ' Transport-moving']

##### Time Stamp:16:30