<a href="https://colab.research.google.com/github/ManishShah120/Py4DSci/blob/master/Predicting_Price_of_Pre_Owned_Cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  **Problem Statement:**

## Storm Motors is an e-commerce company who act as mediators between parties interested in selling and buying pre-owned cars.

## For the year 2015-2016, they have recorded data about the seller and car including:-
*   Specification details
*   Condition of car
*   Seller details
*   Registration details
*   Web advertisement details
*   Make and model information
*   Price

## Storm Motors wishes to **develop an algorithm to predict the price of the cars based on various attributes associated with the car.**

# **Framework:**
## Solution Conceptualization
*   Identify if data is clean
*   Look for missing values
*   Identify variables influencing price and look for relationships among  variables
> *    Correlation,box plots, scatter plots etc
*   Identify outliers
> *    Central tendency measures, dispersion measures, box plots, histograms etc.
*   Identify if categories with merge frequesncies can be combined.
*   Filter data based on logical checks
>   *    Price, year of registration, power
*   Reduced number of data
*   Method identification
>   *    Linear regression
>   *    Random forest

In [0]:
import pandas as pd #For reading files as dataframe from csv format
import numpy as np #For performing various numerical operations
import seaborn as sns #For visulaization

In [4]:
from google.colab import drive # For reading the files from google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#### Setting dimensions for plot

In [0]:
sns.set(rc={'figure.figsize':(11.7,8.27)}) # set is function from seabormn package
## The above line Of Code(LOC) will set the dimensions for all our plots

## Reading the CSV file

In [0]:
cars_data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/cars_sampled.csv')

In [8]:
cars_data

            dateCrawled  ...          lastSeen
0      30/03/2016 13:51  ...     7/4/2016 4:44
1         7/3/2016 9:54  ...  26/03/2016 13:17
2         1/4/2016 0:57  ...     1/4/2016 8:40
3      19/03/2016 17:50  ...     7/4/2016 4:44
4      16/03/2016 14:51  ...    1/4/2016 23:18
...                 ...  ...               ...
49996    3/4/2016 15:48  ...    5/4/2016 15:16
49997  27/03/2016 14:55  ...    7/4/2016 11:45
49998  14/03/2016 18:51  ...   25/03/2016 6:17
49999  15/03/2016 18:06  ...    6/4/2016 17:15
50000   22/03/2016 9:54  ...    5/4/2016 21:15

[50001 rows x 19 columns]

### Creating copy

In [0]:
cars = cars_data.copy() # This is known as deep copy i.e., any changes  made in the cars will not replect in cars_data

### Structure of the dataset

In [12]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50001 entries, 0 to 50000
Data columns (total 19 columns):
dateCrawled            50001 non-null object
name                   50001 non-null object
seller                 50001 non-null object
offerType              50001 non-null object
price                  50001 non-null int64
abtest                 50001 non-null object
vehicleType            44813 non-null object
yearOfRegistration     50001 non-null int64
gearbox                47177 non-null object
powerPS                50001 non-null int64
model                  47243 non-null object
kilometer              50001 non-null int64
monthOfRegistration    50001 non-null int64
fuelType               45498 non-null object
brand                  50001 non-null object
notRepairedDamage      40285 non-null object
dateCreated            50001 non-null object
postalCode             50001 non-null int64
lastSeen               50001 non-null object
dtypes: int64(6), object(13)
memory usage: 7.2+ MB

#### We see that there are 6 columns which are of int64 datatype and 13 columns which are of object datatype

# Summarizing data

In [14]:
cars.describe()

              price  yearOfRegistration  ...  monthOfRegistration    postalCode
count  5.000100e+04        50001.000000  ...         50001.000000  50001.000000
mean   6.559865e+03         2005.544229  ...             5.743725  50775.216696
std    8.581847e+04          122.991832  ...             3.711345  25743.701933
min    0.000000e+00         1000.000000  ...             0.000000   1067.000000
25%    1.150000e+03         1999.000000  ...             3.000000  30559.000000
50%    2.950000e+03         2003.000000  ...             6.000000  49504.000000
75%    7.190000e+03         2008.000000  ...             9.000000  71404.000000
max    1.234568e+07         9999.000000  ...            12.000000  99998.000000

[8 rows x 6 columns]

#### How to get rid of the scientific notation?

In [0]:
pd.set_option('display.float_format', lambda x: '%.3f' % x) # Lambda function

In [17]:
cars.describe()

             price  yearOfRegistration  ...  monthOfRegistration  postalCode
count    50001.000           50001.000  ...            50001.000   50001.000
mean      6559.865            2005.544  ...                5.744   50775.217
std      85818.470             122.992  ...                3.711   25743.702
min          0.000            1000.000  ...                0.000    1067.000
25%       1150.000            1999.000  ...                3.000   30559.000
50%       2950.000            2003.000  ...                6.000   49504.000
75%       7190.000            2008.000  ...                9.000   71404.000
max   12345678.000            9999.000  ...               12.000   99998.000

[8 rows x 6 columns]

#### Not all the columns are visible so??

In [20]:
# To display maximum set of columns
pd.set_option('display.max_columns', 500)
cars.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,postalCode
count,50001.000,50001.000,50001.000,50001.000,50001.000,50001.000
mean,6559.865,2005.544,116.496,125613.688,5.744,50775.217
std,85818.470,122.992,230.568,40205.234,3.711,25743.702
min,0.000,1000.000,0.000,5000.000,0.000,1067.000
25%,1150.000,1999.000,69.000,125000.000,3.000,30559.000
50%,2950.000,2003.000,105.000,150000.000,6.000,49504.000
75%,7190.000,2008.000,150.000,150000.000,9.000,71404.000
max,12345678.000,9999.000,19312.000,150000.000,12.000,99998.000

In [22]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50001 entries, 0 to 50000
Data columns (total 19 columns):
dateCrawled            50001 non-null object
name                   50001 non-null object
seller                 50001 non-null object
offerType              50001 non-null object
price                  50001 non-null int64
abtest                 50001 non-null object
vehicleType            44813 non-null object
yearOfRegistration     50001 non-null int64
gearbox                47177 non-null object
powerPS                50001 non-null int64
model                  47243 non-null object
kilometer              50001 non-null int64
monthOfRegistration    50001 non-null int64
fuelType               45498 non-null object
brand                  50001 non-null object
notRepairedDamage      40285 non-null object
dateCreated            50001 non-null object
postalCode             50001 non-null int64
lastSeen               50001 non-null object
dtypes: int64(6), object(13)
memory usage: 7.2+ MB

#### Lets **DROP** Unwanted Columns

In [0]:
# We are going to drop all these columns present in the list "col"
col = ['name','dateCrawled','dateCreated','postalCode','lastSeen']
cars = cars.drop(columns=col, axis=1)

In [25]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50001 entries, 0 to 50000
Data columns (total 14 columns):
seller                 50001 non-null object
offerType              50001 non-null object
price                  50001 non-null int64
abtest                 50001 non-null object
vehicleType            44813 non-null object
yearOfRegistration     50001 non-null int64
gearbox                47177 non-null object
powerPS                50001 non-null int64
model                  47243 non-null object
kilometer              50001 non-null int64
monthOfRegistration    50001 non-null int64
fuelType               45498 non-null object
brand                  50001 non-null object
notRepairedDamage      40285 non-null object
dtypes: int64(5), object(9)
memory usage: 5.3+ MB